@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
@import url('ui.css');

:root {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    min-height: 100vh;
    background-color: #131313;
}

.relative {
    position: relative;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container-small {
    width: 100%;
}

.flex-wrapper {
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: #131313;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.large-footer {
    display: none;
}

.navbar__section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.navbar__logo {
    color: #E3B873;
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar__phone {
    color: #FFFFFF;
    font-size: 11px;
    text-decoration: none;
}

.navbar__button {
    display: none;
}

.navbar__menu {
    display: none;
}

.menu__item {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    color: #FFFFFF;
}

.menu__item:hover {
    color: #E3B873;
}

.active {
    color: #E3B873;
}

.active:hover {
    color: #FFFFFF;
}

.head-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/png/image 4.3.png');
    padding: 80px 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.head-section>element {
    display: block;
}

.head-section__text {
    font-size: 14px;
}

.head-section__buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

.align-center {
    text-align: center;
}

.text {
    font-size: 11px;
}

.text__center {
    text-align: center;
    /* margin: 36px 18px; */
}

.white {
    color: #FFFFFF;
}

.dark-section {
    padding: 36px 18px;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.light-section {
    padding: 36px 18px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fake-section {
    padding: 36px 18px;
    background-color: #FFFFFF;
    display: none;
}

.bw-section {
    padding: 36px 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#FFFFFF 50%, #131313 50%);
}

.tips {
    /* margin: 18px; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.flex-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 15px;
}

.row {
    display: flex;
    flex-direction: row;
}

.bar {
    width: 36px;
    height: 1.5px;
    background-color: #E3B873;
}

.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

.cards {
    width: 100%;
    display: flex;
    gap: 60px;
    flex-direction: column;
}

.card {
    display: grid;
    /* grid-template-columns: repeat(10, 1fr); */
    /* grid-template-rows: repeat(11, 1fr); */
    width: 100%;
    position: relative;
}

.card__image {
    width: 100%;
    height: 365px;
    overflow: hidden;
    grid-area: 1/1/6/11;
}

.card__body {
    /* position: absolute; */
    background-color: #FFFFFF;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
    grid-area: 4/1/10/10;
    /* top: 60%; */
}

.card__header {
    font-family: 'Yeseva One';
    font-size: 15px;
    color: #363636;
}

.card__text {
    padding: 30px;
}

.card__text>p {
    color: #959595;
}

.card__ul {
    color: #959595;
    font-size: 13px;
    padding: 15px;
}

.card__image>img {
    width: 100%;
    object-fit: cover;
}

.card__footer {
    grid-area: 9/1/11/4;
}

.card__button {
    text-transform: uppercase;
    font-family: 'Yeseva One';
    font-size: 15px;
    font-weight: 400;
    /* position: absolute; */
    /* bottom: -2em; */
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.avatar {
    height: 76px;
    width: 76px;
    border-radius: 50%;
}

.customer-data {
    display: flex;
    height: 78px;
    align-items: center;
    gap: 15px;
}

.button-dubled {
    padding: 0;
    display: flex;
}

.button-dubled__item {
    padding: 10px 17px;
    font-family: 'Yeseva One';
    font-size: 17px;
}

.button-dubled__delimiter {
    height: 100%;
    width: 1px;
    background-color: #FFFFFF;
}

.area {
    all: unset;
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 32px;
    width: 32px;
    background-image: url('../img/svg/area.svg');
}

.checklist {
    all: unset;
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 32px;
    width: 32px;
    background-image: url('../img/svg/checklist.svg');
}

.steps-wrapper {
    display: none;
}

.save-cost {
    display: none;
}

.qa-wrapper {
    display: none;
}

.question-form-wrapper {
    width: 100%;
}

.question-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.map-grid {
    margin-top: 40px;
    display: grid;
    gap: 20px;
    grid-template-areas: 
        "map"
        "title"
        "buttons";
}

.map-grid__map {
    width: 100%;
    height: auto;
    grid-area: map;
}

.map-grid__title {
    grid-area: title;
}

.map-grid__buttons {
    grid-area: buttons;
}


.col {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    overflow: visible;
}

.flex-column {
    flex-direction: column;
}

.flex-start {
    justify-content: flex-start;
}

.bg-gark {
    background-color: #131313;
}

.d-flex {
    display: flex;
}

.content-center {
    justify-content: center;
}

.h-200 {
    height: 200px;
}

.h-250 {
    height: 250px;
}

.h-300 {
    height: 300px;
}

.h-400 {
    height: 400px;
}

@media (min-width: 576px) {
    .navbar {
        height: 83px;
    }

    .navbar__button {
        display: inline;
        background-color: #E3B873;
        border: none;
        padding: 13px 33px;
        font-size: 11px;
        color: #FFFFFF;
        text-transform: uppercase;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
        border-radius: 2px;
    }
}

.desktop-only {
    display: none;
}

@media (min-width: 1000px) {
    .desktop-only {
        display: flex;
    }

    .mobile-only {
        display: none;
    }

    .head-section__buttons {
        flex-direction: row;
    }

    .side-block {
        max-width: 500px;
    }

    .navbar__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .head-section__text {
        font-size: 22px;
    }

    .head-section__buttons>button {
        font-size: 11px;
        border-radius: 2px;
    }

    .text {
        font-size: 14px;
        /* text-align: left; */
    }

    .slider {
        display: none;
    }

    .text__center {
        text-align: left;
    }

    .container {
        max-width: 90%;
    }

    .container-small {
        max-width: 820px;
    }

    .fake-section {
        display: block;
    }

    .bw {
        background-color: #FFFFFF;
    }

    .cards {
        flex-direction: row;
        gap: 20px;
    }

    .card__body {
        grid-area: 4/2/10/10;
    }

    .card__footer {
        grid-area: 9/2/11/9;
    }

    .relative {
        justify-content: flex-start;
        height: 400px;
    }

    .large-footer {
        display: flex;
    }

    .bg-house {
        background-image: url('../img/png/image\ 6.1.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .bg-houses {
        background-image: url('../img/svg/houses.svg');
        opacity: 0.05;
        background-size: contain;
        background-position: top;
        background-repeat: repeat-x;
        height: 100%;
    }

    .steps-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .steps {
        display: flex;
        flex-direction: column;
        /* max-width: 80%; */
        gap: 80px;
    }

    .steps__item {
        color: #363636;
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .row {
        gap: 30px;
    }

    .steps__item__icon {
        height: 60px;
        width: 60px;
        background-color: #E3B873;
        border: 6px solid #FFFFFF;
        border-radius: 50%;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Yeseva One';
        font-size: 18px;
        color: #FFFFFF;
    }

    .steps__item__text>p {
        word-wrap: normal;
        max-width: 400px;
    }

    .qa-wrapper {
        display: block;
    }

    .qa-form {
        background-color: #131313;
        display: flex;
        flex-direction: column;

    }

    .qa-form__item {
        margin: 20px 40px;
        max-width: 100%;
    }

    .qa-form__header {
        font-size: 14px;
        color: #FFFFFF;
        max-width: 60%;
        align-self: center;
        text-align: center;
    }

    .qa-form__button {
        align-self: flex-end;
        max-width: 60%;
    }

    .save-cost {
        display: flex;
        margin: 20px;
        width: 400px;
    }

    .save-cost__text>p {
        color: #E3B873;
        font-size: 18px;
    }

    .fantasy-gallery {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-height: 800px;
        margin-top: 20%;
        margin-bottom: 10%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/png/gallery.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .fantasy-gallery__menu {
        all: unset;
        margin: 0;
    }

    .fantasy-gallery__img {
        transition: 250ms;
    }

    .fantasy-gallery__img:hover {
        transform: scale(1.1);
    }

    .fantasy-gallery__menu>li {
        list-style-type: none;
        margin: 15px 0;
    }

    .p-0 {
        padding: 0;
    }

    .gap-10 {
        gap: 10px;
    }

    .col__upped {
        position: absolute;
        bottom: 10%;
        left: 65%;
    }

    .question-form {
        position: absolute;
        bottom: 80%;
        left: 25%;
        right: 25%;
        align-self: center;
    }

    .question-form__grid {
        display: grid;
        grid-template-areas: 
            "name phone"
            "question question";
        gap: 15px;
    }

    .question-form__button {
        width: 30%;
        align-self: center;
    }

    .grid-name {
        grid-area: name;
    }

    .grid-phone {
        grid-area: phone;
    }

    .grid-question {
        grid-area: question;
    }

    .bg-big-house {
        background-image: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%), url('../img/png/house_bg.png');
        background-size: cover;
        position: relative;
    }

    .map-grid {
        grid-template-areas: 
            "title"
            "buttons"
            "map";
    }

    .mt-300-desktop {
        margin-top: 300px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1200px;
    }
}